* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	color: #dadada;
	-webkit-user-select: none;
	-moz-user-select: none;
}

body {
	font-family: "Unbounded", sans-serif;
	line-height: 1.6;
	background-color: #131313;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.body::-webkit-scrollbar {
	display: none;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 360px;
	height: 600px;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #303030;
}

.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem;
}

.header__logo {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.header__title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5rem;
	color: #808080;
	cursor: pointer;
	letter-spacing: -0.05rem;
}

.header__settings {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.header__settings:hover {
	filter: invert(1);
}

.header__settings:active {
	scale: 0.95;
}

.main {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	gap: 0.5rem;
}

.add {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 240px;
	border: 1px solid #303030;
	font-family: "Epilogue", sans-serif;
	border-radius: 6px;
}

.add__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	gap: 0.5rem;
	padding: 0.5rem;
}

.add__form__title {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2rem;
	color: #606060;
	cursor: pointer;
	letter-spacing: -0.02rem;
}

.add__form__fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 0.5rem;
}

.add__input {
	width: 100%;
	height: 40px;
	padding: 0.5rem;
	border: 1px solid #202020;
	border-radius: 4px;
	background-color: #181818;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2rem;
	font-family: "Epilogue", sans-serif;
	outline: none;
}

.add__input:focus-visible {
	outline: none;
	border: 1px solid #303030;
}

.add__input::placeholder {
	color: #4b4b4b;
}

.add__button__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 64px;
	gap: 0.5rem;
}

.add__lumify {
	width: 24px;
	height: 24px;
	cursor: pointer;
	color: #ab9ff2;
}

svg:hover path {
	fill: #dadada;
	cursor: pointer;
}

.add__lumify:active {
	scale: 0.95;
}

.add__button {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-radius: 0.3rem;
	background-color: #ab9ff2;
	color: #000000;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Epilogue", sans-serif;
	outline: none;
	cursor: pointer;
}

.add__button:hover {
	background-color: #dadada;
}

.add__button:active {
	scale: 0.95;
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 280px;
	padding: 0.5rem;
	gap: 0.5rem;
	border: 1px solid #303030;
	font-family: "Epilogue", sans-serif;
	border-radius: 6px;
}

.fields__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.fields__title {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2rem;
	color: #606060;
	cursor: pointer;
	letter-spacing: -0.02rem;
	text-underline-offset: 0.2rem;
	text-decoration: underline;
	width: 100%;
	text-align: center;
}

.fields__list {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.fields__list:hover {
	filter: invert(1);
}

.fields__list:active {
	scale: 0.95;
}

.fields__container {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	height: 100%;
	gap: 0.5rem;
	padding: 0.5rem;
}

.fields__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	word-break: break-all;
	padding: 0.4rem;
	gap: 0.4rem;
	border: 1px solid #303030;
	border-radius: 4px;
	background-color: #181818;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1rem;
	font-family: "Epilogue", sans-serif;
	outline: none;
	cursor: pointer;
}

.field__name {
	color: #ab9ff2;
	font-weight: 600;
}
