* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	color: #dadada;
	-webkit-user-select: none;
	-moz-user-select: none;
}

body {
	font-family: "Unbounded", sans-serif;
	line-height: 1.6;
	background-color: #131313;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.body::-webkit-scrollbar {
	display: none;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-width: 360px;
	min-height: 600px;
	height: 100vh;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #303030;
}

.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem;
}

.header__logo {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.header__title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5rem;
	color: #808080;
	cursor: pointer;
	letter-spacing: -0.05rem;
}

.header__settings {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.header__settings:hover {
	filter: invert(1);
}

.header__settings:active {
	scale: 0.95;
}

.main {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	min-width: 400px;
	height: 600px;
	padding: 0.5rem;
	gap: 0.5rem;
}

.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	border: 1px solid #303030;
	font-family: "Epilogue", sans-serif;
	border-radius: 6px;
	padding: 0.5rem;
	gap: 0.5rem;
}

.dashboard__title {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2rem;
	color: #606060;
	cursor: pointer;
	letter-spacing: -0.02rem;
	text-underline-offset: 0.2rem;
	text-decoration: underline;
}

.dashboard__fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 100%;
	overflow: auto;
	height: 100%;
	font-family: "Epilogue", sans-serif;
	padding: 0.5rem;
	gap: 0.5rem;
}

.dashboard__fields::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.3rem;
}

.dashboard__fields::-webkit-scrollbar-track {
	background-color: #202020;
}

.dashboard__fields::-webkit-scrollbar-thumb {
	background-color: #ab9ff2;
	border-radius: 0.3rem;
}

.dashboard__fields::-webkit-scrollbar-thumb:hover {
	background-color: #dadada;
}

.dashboard__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem;
	gap: 0.5rem;
	border: 1px solid #303030;
	border-radius: 4px;
	background-color: #181818;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.2rem;
	font-family: "Epilogue", sans-serif;
	outline: none;
	cursor: pointer;
}

.field__container {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.field__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.field__actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 30%;
	gap: 0.6rem;
	justify-content: flex-end;
}

.field__name {
	color: #ab9ff2;
	font-weight: 600;
	text-align: start;
	width: 100%;
}

.field__value {
	color: #dadada;
	font-weight: 400;
	text-align: start;
	width: 100%;
}

.field__actions__button {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.field__actions__button:hover {
	filter: invert(1);
}

.field__actions__button:active {
	scale: 0.95;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	align-items: center;
	justify-content: center;
}

.modal__content {
	position: absolute;
	display: flex;
	z-index: 1000;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	width: 50%;
	height: 120px;
	background-color: #131313;
	border-radius: 6px;
	padding: 0.5rem;
	gap: 0.5rem;
	border: 1px solid #303030;
	font-family: "Epilogue", sans-serif;
}

.modal__header {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2rem;
	color: #606060;
	cursor: pointer;
	letter-spacing: -0.02rem;
}

.modal__input__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 0.5rem;
}

.modal__input {
	width: 80%;
	height: 40px;
	padding: 0.5rem;
	border: 1px solid #202020;
	border-radius: 4px;
	background-color: #181818;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2rem;
	font-family: "Epilogue", sans-serif;
	outline: none;
}

.modal__input:focus-visible {
	outline: none;
	border: 1px solid #303030;
}

.modal__input::placeholder {
	color: #4b4b4b;
}

.modal__save {
	cursor: pointer;
}

.modal__save:active {
	scale: 0.95;
}
